// Fonts
// Variables
@import 'theme_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap4-toggle/css/bootstrap4-toggle.min.css";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    font-family: 'Crimson Text', serif;
}

.container {
    //margin-top: 30px;
    padding: 25px;
}

.headsup {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.site-title {
    font-family: 'Amatic SC', cursive;

    font-size: 7em;

    margin: 0;
    padding: 0;
}

.weddingdate {
    font-family: 'Amatic SC', cursive;
    font-size:2.5em;
    margin: 0;
    padding: 0;
}
